.dragndropable{
    display: block;
    height: 5rem;
    width: auto;
}
.dragndropContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    min-height: 6rem;
    padding: 0.5rem;
    border: 2px solid black;
    transition: background-color linear 0.5s, box-shadow linear 0.2s;
}
.dragndropContainer > * {
    margin: 0 0.5rem;
}
.highlighted {
    background-color: rgb(230, 255, 230);
    box-shadow: 1px 1px 2px 1px rgb(150, 255, 150), -1px -1px 2px 1px rgb(150, 255, 150);
}
.placedInSuccessfully {
    background-color: rgb(150, 255, 150);
    transition: background-color linear 0s;
}
#pointer3 {
    height: 3rem;
}
.focusLost {
    transition: all linear 0.2s;
    color: green;
    box-shadow: 0 0 2px 2px green;
    text-decoration: none;
}